* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: white;
  transition: 0.2s linear;
  list-style: none;
  font-size: 10px;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: linear-gradient(to right, #000, #2c2b5d);
  background-size: cover;
  min-height: 100vh;
}
section {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}
header {
  border-bottom: 0.1rem solid rgba(112, 112, 112, 0.842);
  background-image: linear-gradient(to right, #000, #2c2b5d);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
/*NAVBAR*/
.logo img {
  width: 100px;
  margin: 10px;
}
.nav-list {
  display: none;
}
.navbar-mobile {
  display: none;
}
.navbar-mobile.open {
  display: block;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.mobile {
  text-align: center;
  width: 100%;
  display: block;
  max-width: 100px;
  padding: 10px;
  margin: 4px;
}
.mobile a {
  font-size: 16px;
  padding: 10px;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-icon {
  width: 35px;
  height: 35px;
  margin: 10px;
}
.menu-icon:hover {
  width: 37px;
  height: 37px;
}
/*---*/
#home {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
}
.victor {
  width: 200px;
  height: 200px;
}
.title {
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 25px;
}
.text {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;
}
.button {
  font-size: 16px;
  width: 220px;
  height: 50px;
  margin-top: 30px;
  border-radius: 10px;
  background-color: #020081;
}
.homeIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.homeIcons img {
  width: 35px;
  height: 35px;
  margin: 7px;
}
.homeIcons img:hover {
  padding: 9px;
  background-color: #0f0f25;
  border-radius: 50%;
}
/*ABOUT*/
#about {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
}
.aboutImg {
  margin-top: 30px;
  width: 100%;
  height: auto;
}
.subTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
}
/*PROJECTS*/
#projects {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
}
.projectsContainer {
  border: 1px solid rgb(170, 170, 170);
  margin-top: 30px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
  background-color: #130f32;
}
.projectsContainer .text {
  margin-bottom: 10px;
}

.projectsContainer img {
  width: 250px;
  height: auto;
  margin-bottom: -20px;
}

.projectsContainer a {
  font-size: 14px;
  padding: 200px 80px 10px;
  color: rgb(194, 194, 194);
}
/*FOR ME*/
#forMe {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 75%;
}
.formeInfos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}
.formeInfos img {
  width: 70px;
  height: 70px;
}
.forMesubTitle {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 10px;
}
.forMetext {
  font-size: 14px;
  color: rgb(194, 194, 194);
  margin-bottom: 10px;
}
/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  border-top: 1px solid rgba(112, 112, 112, 0.842);
}
footer img {
  width: 40%;
  padding: 20px;
  height: auto;
}
.footerText {
  font-size: 12px;
  color: rgb(194, 194, 194);
  padding-bottom: 20px;
}
@media (min-width: 900px) {
  header section {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  header {
    border-bottom: none;
  }
  .menu-icon {
    display: none;
  }
  .navbar-mobile {
    display: none;
  }
  .logo img {
    width: 150px;
    margin-left: 80px;
  }
  .navbar {
    display: flex;
    margin-left: 380px;
  }
  .nav-list {
    display: flex;
    gap: 56px;
    width: 100%;
  }
  .navbar-list a {
    font-size: 18px;
  }
  .navbar-list a:hover {
    border-bottom: 1px solid white;
  }
  /*HOME*/
  #home {
    margin-top: 200px;
  }
  .victor {
    position: absolute;
    right: 180px;
    width: 350px;
    height: 350px;
  }
  .homeDesktop {
    margin-left: -450px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: baseline;
  }
  .homeDesktop .title {
    width: 80%;
    text-align: justify;
    font-size: 30px;
  }
  .homeDesktop .text {
    text-align: justify;
    width: 90%;
    font-size: 18px;
  }
  .homeIcons {
    gap: 10px;
  }
  .homeIcons img:hover {
    padding: 5px;
    background-color: #6b6b7a;
    border-radius: 15px;
  }
  .button:hover {
    background-color: hsl(240, 100%, 60%);
    transition: 1s;
  }
  /*ABOUT*/

  .aboutImg {
    width: 400px;
    height: 300px;
  }
  .aboutDesktop {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }
  .aboutDesktop .subTitle {
    text-align: justify;
    margin-left: 30px;
  }
  .aboutButton {
    position: absolute;
    right: 510px;
    top: 1100px;
  }
  .aboutDesktop .text {
    width: 100%;
    margin-left: 30px;
  }
  /*PROJECTS*/

  #projects {
    margin-top: 200px;
  }

  .projectsDesktop {
    max-width: 100%;
    gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
  /*FOR ME*/
  .forMeDesktop {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 40px;
    margin-top: 50px;
  }
  /*FOOTER*/
  footer img {
    width: 150px;
  }
}
